<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeiro Período</title>
</head>
<body>
    <body>
    <h1>Disciplinas do 1º Período</h1>
<ul>
    <li>Seminário de Integração Acadêmica</li>
    <li>Matemática</li>
    <li>Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente I</li>
    <li>Língua Portuguesa</li>
    <li>Informática</li>
    <li>Pensamento Computacional</li>
    <li>Fundamentos da Educação I</li>
</ul>
<a href="/">Voltar as Rotas</a>

</body>
</html>