<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quarto Período</title>
</head>
<body>
    <body>
    <h1>Disciplinas do 4º Período</h1>
<ul>
    <li>Sistemas Digitais</li>
    <li>Organização e Gestão da Educação Brasileira</li>
    <li>Paradigmas de Linguagens de Programação</li>
    <li>Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente IV</li>
    <li>Banco de Dados</li>
    <li>Metodologia do Trabalho Científico</li>
    <li>Leitura e Escrita de Textos Acadêmicos e de Divulgação Científica</li>
</ul>
<a href="/">Voltar as Rotas</a>

</body>
</html>