<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Disciplinas</title>
</head>
<body>
    <img src="{{url_for('static',filename='download.jpg')}}" alt="">
    <H1>Minhas Disciplinas</H1>
    <li><a href="/primeiro">Primeiro Período</a></li>
    <li><a href="/segundo">Segundo Período</a></li>
    <li><a href="/terceiro">Terceiro Período</a></li>
    <li><a href="/quarto">Quarto Período</a></li>
</body>
</html>