<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segundo Período</title>
</head>
<body>
    <body>
    <h1>Disciplinas do 2º Período</h1>
<ul>
    <li>Lógica e Matemática Discreta</li>
    <li>Fundamentos da Educação II</li>
    <li>Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente II</li>
    <li>Filosofia da Mente</li>
    <li>Psicologia da Aprendizagem</li>
    <li>Fundamentos e Técnicas de Programação</li>
</ul>
<a href="/">Voltar as Rotas</a>

</body>
</html>